<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <title>Lab-1</title>
  </head>
  <body>
    <div class="center">
      <h1>Hello, Welcome</h1>
    </div>
    <div class="center">
      <a href="http://localhost:3000/notesForm">Leave a note</a>
      <br />
      <a href="http://localhost:3000/notes">See a note</a>
    </div>
  </body>
</html>
